In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import *

d = {'integer_with_nan' : [21, 45, 45, np.NaN],
     'integer_without_nan' : [21, 45, 45, 0],
     'float_with_nan' : [20.2, 40.3, np.NaN, 1000],
     'float_without_nan' : [20.2, 40.3, 66.7, 1000],
     'string_without_nan' : ["foo","bar","fooz","bars"],
     'string_with_nan' : [np.NaN,"bar","fooz","bars"]}

In [2]:
df_raw = pd.DataFrame(d)

In [10]:
import datetime

In [7]:
df_raw["test"] = pd.to_datetime('today')

In [8]:
df_raw

,float_with_nan,float_without_nan,integer_with_nan,integer_without_nan,string_with_nan,string_without_nan,test
0,20.2,20.2,21.0,21,NaN,foo,2018-05-31
1,40.3,40.3,45.0,45,bar,bar,2018-05-31
2,NaN,66.7,45.0,45,fooz,fooz,2018-05-31
3,1000.0,1000.0,NaN,0,bars,bars,2018-05-31

In [11]:
start = datetime.datetime.now()

2018-05-31 15:33:28.637124

In [ ]:
df_raw["timestampe"] =