In [1]:
# Database settings
DATABASE_IDENTIFIER = "aqueduct30v01"
DATABASE_NAME = "database01"

In [2]:
import os
import pandas as pd
import geopandas as gpd
from ast import literal_eval
import boto3
import botocore
from sqlalchemy import *
from geoalchemy2 import Geometry, WKTElement
from shapely.geometry.multipolygon import MultiPolygon

In [3]:
# RDS Connection
def rdsConnect(database_identifier,database_name):
    rds = boto3.client('rds')
    F = open(".password","r")
    password = F.read().splitlines()[0]
    F.close()
    response = rds.describe_db_instances(DBInstanceIdentifier="%s"%(database_identifier))
    status = response["DBInstances"][0]["DBInstanceStatus"]
    print("Status:",status)
    endpoint = response["DBInstances"][0]["Endpoint"]["Address"]
    print("Endpoint:",endpoint)
    engine = create_engine('postgresql://rutgerhofste:%s@%s:5432/%s' %(password,endpoint,database_name))
    connection = engine.connect()
    return engine, connection

In [5]:
engine, connection = rdsConnect(DATABASE_IDENTIFIER,DATABASE_NAME)

Status: available
Endpoint: aqueduct30v01.cgpnumwmfcqc.eu-central-1.rds.amazonaws.com

In [6]:
sql = "SELECT * FROM fao_minor_v04"

In [7]:
gdfMinor =gpd.GeoDataFrame.from_postgis(sql,connection,geom_col='geom' )

In [8]:
gdfMinor.head()

,sub_bas,to_bas,maj_bas,sub_name,sub_area,faoid,geom
0,1001,-999,2001,Bravo / Matamoros / Reynosa,9533,MAJ_BAS_2001_SUB_BAS_0001001,(POLYGON ((-97.42500000000054 25.3583333333327...
1,1001,-999,3001,Panama Canal,5575,MAJ_BAS_3001_SUB_BAS_0001001,(POLYGON ((-79.40416666583354 9.01666666183348...
2,1001,-999,4001,Northern Spain Coast,29194,MAJ_BAS_4001_SUB_BAS_0001001,(POLYGON ((-7.245833333094279 43.5666666664764...
3,1001,-999,4001,Northern Spain Coast,29194,MAJ_BAS_4001_SUB_BAS_0001001,(POLYGON ((-8.837500000004475 43.3499999999882...
4,1001,-999,4001,Northern Spain Coast,29194,MAJ_BAS_4001_SUB_BAS_0001001,(POLYGON ((-7.862500000000175 43.7791666666661...

In [ ]:
gdfMinor