In [92]:
import pandas as pd
import numpy as np

d = {'age' : [21, 45, 45, 5],
     'salary' : [20, 40, 10, 100]}

df = pd.DataFrame(d)


# method 1
df['is_rich_method1'] = np.where(df['salary']>=50, 'yes', 'no')

# method 2
df['is_rich_method2'] = ['yes' if x >= 50 else 'no' for x in df['salary']]

# method 3
df['is_rich_method3'] = 'no'
df.loc[df['salary'] > 50,'is_rich_method3'] = 'yes'

In [93]:
df

   age  salary is_rich_method1 is_rich_method2 is_rich_method3
0   21      20              no              no              no
1   45      40              no              no              no
2   45      10              no              no              no
3    5     100             yes             yes             yes