In [18]:
SCRIPT_NAME = "Y2018M06D21_RH_Test_Geopandas_Int64_SHP_V01"
OUTPUT_VERSION = 1

ec2_output_path = "/volumes/data/{}/output_V{:02.0f}".format(SCRIPT_NAME,OUTPUT_VERSION)

In [19]:
!rm -r {ec2_output_path}
!mkdir -p {ec2_output_path}

rm: cannot remove '/volumes/data/Y2018M06D21_RH_Test_Geopandas_Int64_SHP_V01/output_V01': No such file or directory

In [12]:
import geopandas as gpd
import numpy as np

In [13]:
gdf = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [14]:
gdf["valid"] = np.int64(2147483647)

In [15]:
gdf["invalid"] = np.int64(2147483647+1)

In [16]:
gdf.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,valid,invalid
0,28400000.0,Asia,Afghanistan,AFG,22270.0,"POLYGON ((61.21081709172574 35.65007233330923,...",2147483647,2147483648
1,12799293.0,Africa,Angola,AGO,110300.0,(POLYGON ((16.32652835456705 -5.87747039146621...,2147483647,2147483648
2,3639453.0,Europe,Albania,ALB,21810.0,"POLYGON ((20.59024743010491 41.85540416113361,...",2147483647,2147483648
3,4798491.0,Asia,United Arab Emirates,ARE,184300.0,"POLYGON ((51.57951867046327 24.24549713795111,...",2147483647,2147483648
4,40913584.0,South America,Argentina,ARG,573900.0,(POLYGON ((-65.50000000000003 -55.199999999999...,2147483647,2147483648

In [20]:
output_file_path = ec2_output_path +"/" + "test.shp"

In [21]:
gdf.to_file(driver="ESRI Shapefile",filename=output_file_path)

In [22]:
gdf_from_shp = gpd.read_file(output_file_path)

In [23]:
gdf_from_shp.dtypes

pop_est       float64
continent      object
name           object
iso_a3         object
gdp_md_est    float64
valid           int64
invalid         int64
geometry       object
dtype: object